@import url("https://fonts.googleapis.com/css2?family=Fjalla+One");

@font-face {
  font-family: 'Fjalla One';
  src: url('FjallaOne-Regular.ttf') format('truetype');

}

:root {
  --bg-black: #1B1C1E;
  --dark-blue: #4F4ED7;
  --light-blue: #00F0FF;
  --light-pink: #F55A9B;
  --dark-pink: #980089;
  --light-gray: #555555;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fjalla One', sans-serif;
  font-weight: lighter;
  background-color: #1B1C1E;
  color: white;
  scroll-behavior: smooth;
}


h1, h2, h3, h4, p, a, div {
  background-color: transparent;
}


.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container section {
  min-width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.content {
  position: relative;
  min-width: 100%;
  height: auto;
}

progress {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border: none;
  background: transparent;
  z-index: 4;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(to left, var(--light-pink), var(--dark-pink), var(--dark-blue));
}
progress::-moz-progress-bar {
  background: linear-gradient(to left, var(--light-pink), var(--dark-pink), var(--dark-blue));
}

/* ***************** MAIN PAGE ***************** */


.blue-logo, .pink-logo, .white-logo, .welcome-msg, #main-page .desc {
  visibility: hidden;
}

.page-one-flex {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  visibility: hidden;
}

.myLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  margin-bottom: 20px;
}

.link {
  font-size: 2.5vw;
  color: white;
  text-decoration: none;
}

.link:hover {
  color: #00F0FF;
}

.myName {
  letter-spacing: 10px;
  text-transform: uppercase;
}

#main-page h1 {
  font-size: 5.8vw;
  text-align: center;
}

#main-page .desc {
  font-size: 2.5vw;
  text-align: center;
  background-image: -webkit-linear-gradient(left, var(--light-blue) , var(--dark-blue), var(--light-pink));
  background-image: -moz-linear-gradient(right, var(--light-blue) , var(--dark-blue), var(--light-pink));
  background-image: linear-gradient(to right, var(--light-blue) , var(--dark-blue), var(--light-pink)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  background-position: right;
  animation: bg-color 8s infinite;
}

@keyframes bg-color {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

#main-page .scroll {
  position: absolute;
  font-size: 1.2rem;
  padding-top: 50px;
  padding-left: 60%;
  opacity: 0.5;
}


/* ***************** PROJECT PAGE ***************** */

#projects {
  padding: 50px;
}

.project-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pr {
  min-width: 25%;
  width: auto;
  height: 160px;
  background: #1B1C1E;
  box-shadow: -6px -8px 10px 0px #353535,
               6px 8px 10px 0px #000000;
  border-radius: 15px;
  margin: 20px;
  cursor: pointer;
}

.pr p {
  position: relative;
  font-size: 2rem;
  padding: 60px 0;
  text-align: center;
  font-style: italic;
}

#projects h1 {
  z-index: 2;
  font-size: 3.75vw;
  padding-bottom: 30px;
  letter-spacing: 10px;
  margin-left: 60px;
}

.mySlides {
  display: none;
}

.leftBtn, .rightBtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
}

.leftBtn:hover, .rightBtn:hover {
  background-color: #353535;
}

.w3-display-right {
  position:absolute;
  top:50%;
  right:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(0%,-50%);
}

.w3-display-left {
  position:absolute;
  top:50%;
  left:0%;
  transform:translate(0%,-50%);
  -ms-transform:translate(-0%,-50%);
}

.project-info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  width:100%;
}

.project-title {
  font-size: 4vw;
  letter-spacing: 5px;
  background-image: linear-gradient(to right, var(--light-blue) , var(--dark-blue)); 
  width: 600px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
  font-weight: bold;
}

.project-link {
  font-size: 1.25vw;
  letter-spacing: 1px;
  margin-left: 7.8125vw;
  margin-bottom: 30px;
}

.project-link a {
  text-decoration: none;
}

.project-desc {
  font-size:  1.65vw;
  letter-spacing: 1px;
  text-align: justify;
  line-height: 2.35vw;
  margin-bottom: 30px;
}

.tools-used {
  justify-content: flex-end;
  font-size:  1.65vw;
}

.project-photos img {
  border-radius: 5px;
  max-width: 70vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ***************** ALL ABOUT MODALS ***************** */

.modal1, .modal2, .modal3, .modal4, .modal5, .modal6 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 3;
}
.modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 0.5rem;
}

.close-btn {
  position: relative;
  left: 90%;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.7;
  z-index: 5;
}

.close-button:hover {
  background-color: rgb(0, 0, 0);
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* ***************** ABOUT PAGE ***************** */

#about {
  padding: 50px;
}

.about-row {
  display: flex;
  gap: 50px;
}

.about-title {
  font-size:  3.75vw;
  letter-spacing: 10px;
  padding-left: 40%;
  padding-bottom: 10px;
}

.about-photo {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.about-photo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  justify-content: left;
}

.about-photo p {
  font-size: 2.1875vw;
  margin-top: 5px;
  letter-spacing: 5px;
  font-weight: bold;
  background-image: linear-gradient(to right, var(--light-blue) , var(--dark-blue)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.about-info {
  width: 100%;
}

.about-desc {
  font-size: 1.8vw;
  line-height: 30px;
  text-align: left;
}

/* ***************** CONTACT PAGE ***************** */

#contact {
  padding: 50px 100px;
}

.contact-row {
  display: flex;
  justify-content: space-evenly;
}

.contact-form-column {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
}

.contact-form-column h1 {
  font-size: 3.75vw;
  letter-spacing: 10px;
  margin-bottom: 30px;
}

.contact-form {
  height: 95%;
}

form {
  width: 100%;
  height: 95%;
  background: #1B1C1E;
  box-shadow: -8px -8px 10px 0px #353535,
               8px 8px 10px 0px #000000;
  border-radius: 15px;
  padding: 20px;
}

form label {
  display: inline-block;
  font-size: 1.5625vw;
  letter-spacing: 0.21vw;
  background-image: linear-gradient(to right, var(--light-blue) , var(--dark-blue)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

form input {
  padding: 10px;
  outline: none;
  border: none;
}

input[type=email]:hover, input[id=name]:hover, textarea:hover {
  background: rgba(73, 73, 75, 0.8);
}

input[type=email], input[id=name] {
  width: 50%;
  height: 30px;
  background-color: #49494b;
  border-radius: 15px;
  border: none;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: #49494B;
  border-radius: 15px;
  outline: none;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  color: white;
  resize: none;
}

input[type=submit] {
  width: 8vw;
  border-radius: 5px;
  font-size: 1.875vw;
  letter-spacing: 0.21vw;
  margin: 5px 0 5px 0;
  padding: 3px;
  cursor: pointer;
  background-image: linear-gradient(to right, var(--light-blue) , var(--dark-blue)); 
  background-size: 200%;
  background-position: right;
  transition: background-position 500ms ease-in;
}

input[type=submit]:hover {
  animation: bg-color 1s infinite;
}

.logo-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 20%;
}

.logo-column img {
  cursor: pointer;
}

/* ***************** RESPONSIVE ***************** */

@media screen and (max-device-width: 1024px) {
  .container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-transform: none !important;
            transform: none !important;
    overflow-x: hidden;
  }

  #main-page .scroll {
    visibility: hidden;
  }

  .container section {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  header {
    visibility: visible;
  }

  .project-row {
    flex-direction: column;
  }

  .pr {
    min-width: 70%;
  }

  .modal-content { 
    height: auto;
  }

  .project-title {
    font-weight: bold;
  }

  .project-row p {
    font-size: 1rem;
  }

  .project-info {
    padding-bottom: 0;
  }

  .project-photos {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }

  .project-photos img {
    width: 100%;
    height: auto;
  }

  #projects h1 {
    text-align: center;
  }
}

@media screen and (max-device-width: 768px) {
  .link {
    font-size: 21px;
    padding: 10px;
  }

  .blue-logo, .pink-logo, .white-logo, .welcome-msg, #main-page .desc {
    visibility: visible;
  }                     

  .page-one-flex {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .project-photos img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
  }

  .scroll {
    visibility: hidden;
  }

  #projects h1 {
    text-align: center;
  }

  .leftBtn, .rightBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .modal1 {
    top: 3%;
  }

  .modal2 {
    top: 19%;
  }

  .modal3 {
    top: 35%;
  }

  .modal4 {
    top: 51%;
  }

  .modal5 {
    top: 67%;
  }

  .modal6 {
    top: 83%;
  }

  .project-info {
    padding: 15px;
  }

  .project-desc {
    font-size: 6px;
    line-height: 10px;
  }

  .about-desc {
    line-height: 20px;
    text-align: left;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }

  .about-photo p {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .contact-form-column {
    width: 100%;
  }

  .contact-row {
    display: flex;
    flex-direction: column;
  }

  input[type=submit] {
    width: 60px;
    height: 40px;
    font-size: 20px;
  }

  input[type=email], input[id=name] {
    width: 100%;
  }

  .logo-column {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;

  }

  progress {
    visibility: hidden;
  }

}

@media screen and (max-device-width: 560px) {
  .myLogo {
    display: block;
    width: 80%;
  }

  #main-page .desc {
    font-size: 18px;
  }

  .project-photos img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
  }

  #projects h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    font-size: 28px;
    letter-spacing: 3px;
  }

  .about-row {
    display: flex;
    flex-direction: column;
  }

  .about-info {
    order: 1;
  }

  .about-photo {
    order: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #contact {
    padding: 4vw 6.25vw;
  }

  .about-title {
    font-size: 28px;
    letter-spacing: 3px;
    padding-bottom: 10px;
    padding-left: 0;
    text-align: center;
  }

  .about-desc {
    font-size: 16px;
  }

  form label {
    font-size: 20px;
  }

  .contact-form-column h1 {
    font-size: 28px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (max-device-width: 410px) {
  #projects h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
  }

  #contact {
    padding: 10px;
  }
}

/*@media screen and (max-width:767px){
  html, body{
     heigth: initial;
  }
}*/